body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

#wrapper {
  width: 100%;
  text-align: center;
}

.navbar {
  border-bottom: 1px solid #cfcfcf;
}

main {
  padding: 20px;
}

#decision-form {
  background: #fff;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.arrow {
  font-weight: bold;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 2px solid #007bff;
  background-color: white;
  color: #007bff;
  text-transform: uppercase;
}

button#back-button {
  background: #eee;
}

button:disabled {
  background: #eee;
  color: #eee;
  cursor: default;
}
