h2 {
  font-weight: bold;
}

.search-bar {
  width: 100%;
  display: flex;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  color: #007bff;
  background-color: #e0f3ff;
}

.accordion-button {
  text-decoration: none;
}

.accordion-button:hover {
  text-decoration: underline;
}

.accordion-body {
  padding-left: 20px; /* Indent the text */
}
