body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar {
  border-bottom: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.breadcrumb {
  background-color: white;
  padding: 0;
  margin-bottom: 20px;
}

.breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.options-container {
  width: 100%;
  max-width: 1500px; /* Set the max-width to control the width */
  margin: 0 auto;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  font-size: 1.25rem;
  height: 50px;
  width: 100%; /* Ensure the width is 100% of the container */
}

.option:hover {
  background-color: #f0f0f0;
}

.option span {
  font-size: 1.25rem;
  font-weight: 500;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 25px;
  margin-top: 10px;
  text-transform: uppercase;
}

#back-button {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
}

#back-button:hover {
  background-color: #007bff;
  color: white;
}

.text-center {
  text-align: center;
}
